@charset "UTF-8";

.page_sitemap_main {
	position: relative;
	z-index: 0;
}

.page_sitemap_main .inner {
	display: flex;
	justify-content: flex-end;
	gap: 40px;
	margin-inline: calc(50vw - 670px) 0;
}

.page_sitemap_main .bg {
	flex-shrink: 0;
	width: 66%;
	aspect-ratio: 95/34;
	background: #F8F8F8;
}

.page_sitemap_main .text_box {
	width: 100%;
	padding-block: 15px;
	display: flex;
	flex-direction: column;
}

.page_sitemap_main .text_box .title_box {
	flex-grow: 1;
	display: flex;
	align-items: center;
	padding-inline: 100px 0;
}

.page_sitemap_main .text_box .title_box .title {
	font-size: 40px;
	letter-spacing: .08em;
	font-weight: 700;
	line-height: 1.5;
}

.page_sitemap .common_page_wrap {
	padding-block: 90px 140px;
}

.sitemap_cont_sec .cont {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.sitemap_cont_sec .cont .list .item+.item {
	margin-block: 30px 0;
}

.sitemap_cont_sec .cont .list .item .title_box {
	background: #EAEAEA;
	text-align: center;
	padding: 1.4em 0.5em;
}

.sitemap_cont_sec .cont .list .item .title_box .title {
	font-size: 18px;
	letter-spacing: .08em;
	font-weight: 500;
	line-height: 1.5;
}

.sitemap_cont_sec .cont .list .item .sub_menu {
	background: #F8F8F8;
	padding: 30px;
	text-align: center;
}

.sitemap_cont_sec .cont .list .item .sub_menu li+li {
	margin-block: 1.2em 0;
}

.sitemap_cont_sec .cont .list .item .sub_menu li .link {
	display: inline-block;
	color: initial;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 400;
	line-height: 1.5;
}

@media (max-width: 750px) {
	.page_sitemap_main {
		padding: 2.5vw 2.5vw 0;
	}

	.page_sitemap_main .inner {
		display: block;
		margin-inline: 0;
	}

	.page_sitemap_main .bg {
		width: 100%;
		aspect-ratio: 39/23;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.page_sitemap_main .text_box {
		display: block;
		padding-block: 0;
	}

	.page_sitemap_main .text_box .title_box {
		display: block;
		background: #fff;
		width: 84%;
		padding: 1em 0.5em;
		margin-inline: auto;
		text-align: center;
	}

	.page_sitemap_main .text_box .title_box .title {
		font-size: 7.7vw;
	}

	.breadcrumb {
		margin-block: 0 42vw;
	}

	.page_sitemap .common_page_wrap {
		padding-block: 15vw 26vw;
	}

	.sitemap_cont_sec .cont {
		grid-template-columns: 1fr;
		gap: 5vw;
	}

	.sitemap_cont_sec .cont .list .item+.item {
		margin-block: 5vw 0;
	}

	.sitemap_cont_sec .cont .list .item .title_box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1em;
		padding: 1.4em 1.5em 1.4em 2.3em;
	}

	.sitemap_cont_sec .cont .list .item .title_box .title {
		font-size: 4.1vw;
	}

	.sitemap_cont_sec .cont .list .item .title_box::after {
		content: "";
		width: 3vw;
		aspect-ratio: 1;
		min-width: 0;
		border: solid currentColor;
		border-width: 2px 2px 0 0;
		rotate: -45deg;
		translate: 0 0.4em;
		flex-shrink: 0;
		display: block;
		transition: .4s;
	}

	.sitemap_cont_sec .cont .list .item .title_box.nowOpen::after {
		rotate: 135deg;
		translate: 0 -0.2em;
	}

	.sitemap_cont_sec .cont .list .item .sub_menu {
		padding: 10vw;
	}

	.sitemap_cont_sec .cont .list .item .sub_menu .closeBtnHat {
		display: none;
	}

	.sitemap_cont_sec .cont .list .item .sub_menu li+li {
		margin-block: 1.5em 0;
	}

	.sitemap_cont_sec .cont .list .item .sub_menu li .link {
		font-size: 3.6vw;
	}
}