@charset "UTF-8";

.page_shop_main {
	padding-block: 140px 55px;
}

.page_shop_main .title_box {
	text-align: center;
}

.page_shop_main .title_box .title {
	font-size: 40px;
	letter-spacing: .08em;
	font-weight: 700;
	line-height: 1.5;
}

.breadcrumb {
	text-align: right;
}

.page_shop .common_page_wrap {
	padding-block: 80px 140px;
}

.shop_cont_sec .list ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px 30px;
}

.shop_cont_sec .list li {
	border-bottom: 1px dashed #707070;
	padding-block: 0 0.8em;
}

.shop_cont_sec .list li .img {
	margin-block: 0 0.7em;
}

.shop_cont_sec .list li .img img {
	width: 100%;
	aspect-ratio: 36/21;
	object-fit: cover;
}

.shop_cont_sec .list li .text_box .title {
	font-size: 20px;
	letter-spacing: .08em;
	font-weight: 700;
	line-height: 1.5;
	margin-block: 0 0.2em;
}

.shop_cont_sec .list li .text_box .address {
	color: #646464;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 400;
}

@media (max-width: 750px) {
	.page_shop_main {
		padding-block: 15vw 4vw;
	}

	.page_shop_main .title_box .title {
		font-size: 5.6vw;
	}

	.breadcrumb {
		text-align: center;
	}

	.page_shop .common_page_wrap {
		padding-block: 13vw 18vw;
	}

	.shop_cont_sec .wrap {
		max-width: 95%;
	}

	.shop_cont_sec .list ul {
		grid-template-columns: repeat(2, 1fr);
		gap: 5vw 3.8vw;
	}

	.shop_cont_sec .list li .img img {
		aspect-ratio: 89/55;
	}

	.shop_cont_sec .list li .text_box .title {
		font-size: 3.8vw;
	}

	.shop_cont_sec .list li .text_box .address {
		font-size: 3vw;
		line-height: 1.5;
	}
}