@charset "UTF-8";

.page_sitemap_main {
	background: #F8F8F8;
	padding-block: 15px 115px;
}

.page_sitemap_main .title_box {
	text-align: center;
}

.page_sitemap_main .title_box .title {
	font-size: 40px;
	letter-spacing: .08em;
	font-weight: 700;
	line-height: 1.5;
}

.breadcrumb {
	margin-block: 0 80px;
}

.page_sitemap .common_page_wrap {
	padding-block: 70px 155px;
}

.sitemap_cont_sec .cont {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 87px;
}

.sitemap_cont_sec .cont .list .item+.item {
	margin-block: 55px 0;
}

.sitemap_cont_sec .cont .list .item .title {
	font-size: 18px;
	letter-spacing: .08em;
	font-weight: 700;
	line-height: 1.5;
	border-bottom: 2px solid currentColor;
	padding: 0 0.6em 0.3em;
	margin-block: 0 1.4em;
}

.sitemap_cont_sec .cont .list .item .sub_menu {
	padding-inline: 20px;
}

.sitemap_cont_sec .cont .list .item .sub_menu li+li {
	margin-block: 1.2em 0;
}

.sitemap_cont_sec .cont .list .item .sub_menu li .link {
	display: inline-block;
	color: initial;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 400;
	line-height: 1.5;
}

@media (max-width: 750px) {
	.page_sitemap_main {
		padding-block: 3vw 23vw;
	}

	.page_sitemap_main .wrap {
		max-width: 95%;
	}

	.page_sitemap_main .title_box .title {
		font-size: 7.7vw;
	}

	.breadcrumb {
		margin-block: 0 20vw;
	}

	.page_sitemap .common_page_wrap {
		padding-block: 13vw 26vw;
	}

	.sitemap_cont_sec .cont {
		grid-template-columns: 1fr;
		gap: 13vw;
	}

	.sitemap_cont_sec .cont .list .item+.item {
		margin-block: 13vw 0;
	}

	.sitemap_cont_sec .cont .list .item .title {
		font-size: 4.6vw;
	}

	.sitemap_cont_sec .cont .list .item .sub_menu {
		padding-inline: 0.8em;
	}

	.sitemap_cont_sec .cont .list .item .sub_menu ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5vw 10vw;
	}

	.sitemap_cont_sec .cont .list .item .sub_menu li {
		position: relative;
	}

	.sitemap_cont_sec .cont .list .item .sub_menu li+li {
		margin-block: 0;
	}

	.sitemap_cont_sec .cont .list .item .sub_menu li:nth-child(even)::before {
		content: "";
		width: 1px;
		height: 70%;
		background: #B4B4B4;
		position: absolute;
		top: 50%;
		left: -1.5em;
		translate: 0 -50%;
	}

	.sitemap_cont_sec .cont .list .item .sub_menu li .link {
		font-size: 3.6vw;
	}
}